.animal-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.animal-details img {
    max-width: 100%;
    height: auto;
}

.animal-details h2 {
    font-size: 2em;
    color: #333;
}

.animal-details p {
    font-size: 1.2em;
    color: #666;
}

.backgroundImage {
    background-image: url('/public/pexels-oleksandr-p-345522.jpg');
}